<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
	<!-- Menu -->
	<h:form id="formMenu">


		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bar1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<p class="navbar-toggle pull-left navbar-text">Associados</p>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bar1">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">CADASTROS <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a
								href="#{request.contextPath}/cadastros/associados/associado.jsf">Novo
									Associado</a></li>
							<li><a href="#{request.contextPath}/cadastros/usuario.jsf">Novo
									Usuário</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">GERAR CARNÊS <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a
								href="#{request.contextPath}/gerarCarnes/boletoAvulso.jsf">Boleto
									Avulso</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneSimples.jsf">Carnê
									Simples</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneLote.jsf">Carnê
									em lotes</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/listarLotes.jsf">Listar
									lotes</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">FINANCEIRO<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a
								href="#{request.contextPath}/gerarCarnes/boletoAvulso.jsf">Boletos
									liquidados</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneSimples.jsf">Boletos
									pendentes</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneSimples.jsf">Carnês
									liquidados</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneSimples.jsf">Carnês
									pendentes</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneSimples.jsf">Liquidar
									pagamentos</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneSimples.jsf">Mensagem
									via SMS</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneSimples.jsf">Mensagem
									via Email</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">RELATÓRIOS<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a
								href="#{request.contextPath}/gerarCarnes/boletoAvulso.jsf">Listar
									associados</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneSimples.jsf">Credenciais
									entregues</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneSimples.jsf">Geoprocessamento</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">CONFIGURAÇÕES<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a
								href="#{request.contextPath}/gerarCarnes/boletoAvulso.jsf">Perfil
									de usuários</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneSimples.jsf">Categorias
									e Valores</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneSimples.jsf">Layout
									carteirinhas</a></li>
							<li><a
								href="#{request.contextPath}/gerarCarnes/carneSimples.jsf">Dados
									do boleto</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</h:form>

</ui:composition>
