/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
	height: auto;
	width: 960px;
	margin: 0 auto;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	margin: 0 auto;
}

body>.container {
	padding: 60em;
	height: 100%;
}

.footer {
	position: absolute;
	/* bottom: 0; */
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #edefe5;
	width: 100%;
	margin-top: 5px;
	padding-top: 5px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container .text-muted {
	min-height: 100%;
}

.footer>.container {
	min-height: 100%;
}

code {
	font-size: 80%;
}

.top {
	background-image: url("#{resource['img:bg_topo.jpg']}");
	height: 147px !important;
}