<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Gerador de Carnês - Sistema de Associados</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="css/css.css" />
</h:head>
<h:body>
	<h:form>
		<table width="500" border="0" align="center" cellpadding="0"
			cellspacing="0" background="resources/img/tela_login_nova2.png">
			<tr>
				<td height="607" align="center" valign="bottom" scope="col"><table
						width="500" border="0" align="center" cellpadding="0"
						cellspacing="0">

						<tr>
							<th scope="col"></th>
						</tr>
						<tr>
							<th scope="col"></th>
						</tr>
						<tr>
							<th scope="col"><table width="400" border="0" align="center"
									cellpadding="2" cellspacing="0">
									<tr>
										<td width="139" align="right" class="Fonte_login" scope="col">Usu&aacute;rio:</td>
										<td width="253" align="left" scope="col"><h:inputText
												value="#{mBeanLogin.login}" class="campo_formulario_login"
												id="textfield" size="20" /></td>
									</tr>
									<tr>
										<td align="right" class="Fonte_login" scope="col">Senha:</td>
										<td align="left" scope="col"><input name="textfield2"
											type="password" class="campo_formulario_login"
											id="textfield2" size="15" /></td>
									</tr>
									<tr>
										<td align="center" scope="col">&nbsp;</td>
										<td align="left" scope="col"><h:commandButton
												value="Acessar" class="Botao_login"
												action="#{mBeanLogin.login}" /></td>
									</tr>
								</table></th>
						</tr>
						<tr>
							<th scope="col">&nbsp;</th>
						</tr>
						<tr>
							<th scope="col">&nbsp;</th>
						</tr>
					</table></td>
			</tr>
		</table>
	</h:form>

</h:body>
</html>
