<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/templates/template.xhtml"
	xmlns:comp="http://java.sun.com/jsf/composite/componentes">
	<ui:define name="content">
	

		<p:tabView id="tabView" prependId="false" onTabChange="updateTabView();">
			<p:tab title="Dados Pessoais" id="ddsPessoais" >
				<ui:include src="dadosPessoais.xhtml" />
			</p:tab>
			<p:tab title="Carteirinha" id="carteira"  >
				<ui:include src="carteirinha.xhtml" />
			</p:tab>
			<p:remoteCommand name="updateTabView" update="carteira"/> 
		</p:tabView>
		<!-- Botão Finalizar Cadastro -->
		<comp:button actionListener="#{mBeanAssociado.salvar}"   update=":msgs" />
	</ui:define>
</ui:composition>
