<?xml version="1.0" encoding="UTF-8"?>
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:comp="http://java.sun.com/jsf/composite/componentes">

	<!-- Tipo Pessoa -->


	<!-- Nome -->
	<comp:input label="Nome" value="#{mBeanAssociado.associado.name}"
		required="true" />
		
		
	<!-- Sexo -->
	<comp:comboBoxUtil label="Sexo" id="sexo"
		value="#{mBeanAssociado.associado.sexo}">
		<f:selectItem itemValue="0" itemLabel="Masculino" />
		<f:selectItem itemValue="1" itemLabel="Feminino" />
	</comp:comboBoxUtil>

	<!-- CPF -->
	<comp:inputMask id="cpf" label="CPF"
		value="#{mBeanAssociado.associado.cpf}" 
		mask="999.999.999-99" placeholder="___.___.___-__" />

	<!-- Passaporte -->
	<comp:input label="Passaporte"
		value="#{mBeanAssociado.associado.passaporte}" />

	<!-- Function Eclesiastica -->
	<comp:comboBoxUtil label="Função Eclesiastica"
		selectItens="#{mBeanAssociado.funcaoEclesiasticas}"
		itemValue="#{item}" itemLabel="#{item.descricao}" entity="true"
		value="#{mBeanAssociado.associado.funcoesEclesiastica}" />
	<!-- Telefone Fixo -->
	<comp:inputMask label="Tel. Fixo" mask="(99) 99999-9999"
		placeholder="(__) _____-____"
		value="#{mBeanAssociado.associado.telResidencial}" />
	<!-- Celular -->
	<comp:inputMask label="Tel. Celular" mask="(99) 999999-9999"
		placeholder="(__) ____-____"
		value="#{mBeanAssociado.associado.telCelular}" />
	<!-- Dt nascimento -->
	<comp:input label="Data nascimento"
		value="#{mBeanAssociado.associado.dtNascimento}" />
	<!-- Email -->
	<comp:email id="email1" label="Email"
		value="#{mBeanAssociado.associado.email}" validatorMessage="#{msg.msgEMailInvalido}"/>
	<!-- Email -->
	<comp:email id="email2" label="Email Secundário"
		value="#{mBeanAssociado.associado.email2}"
		validatorMessage="#{msg.msgEMailInvalido}" />
	<!-- Cep -->
	<comp:input label="CEP" value="#{mBeanAssociado.associado.endereco.cep}" />
	<!-- Logradouro -->
	<comp:input label="Logradouro"
		value="#{mBeanAssociado.associado.endereco.logradouro}" />
	<!-- Numero -->
	<comp:input label="Número" value="#{mBeanAssociado.associado.endereco.numero}" />
	<!-- Complemento -->
	<comp:input label="Complemento"
		value="#{mBeanAssociado.associado.endereco.complemento}" />
	<!-- Cidade -->
	<comp:comboBoxUtil id="cbEstado" label="Estado" value="#{mBeanAssociado.estado}" 
	selectItens="#{mBeanAssociado.estados}"
		itemValue="#{item}" itemLabel="#{item.descricao}" entity="true"/>
	<!-- Estado -->
	<comp:comboBoxUtil label="Cidade" value="#{mBeanAssociado.associado.endereco.cidade}" 
	selectItens="#{mBeanAssociado.cidades}"
		itemValue="#{item}" itemLabel="#{item.descricao}" entity="true"/>
	<!-- País -->
	<comp:input label="País" value="Brasil" />

</ui:fragment>
