/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  height: auto;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body > .container {
padding: 60px;
}
.footer {
	position: absolute;
bottom: 0;
width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #edefe5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 0;
}

.footer > .container {
  min-height: 100%;
}

code {
  font-size: 80%;
}

.top{
background-image: url("#{resource['img:bg_topo.jpg']}");
background-repeat: no-repeat;
width: 100%;
max-width: 100% 
}