<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/templates/template.xhtml"
	xmlns:comp="http://java.sun.com/jsf/composite/componentes">
	<ui:define name="content">
		<!-- Tipo Sacado -->
		<comp:input label="Tipo de sacado" value="" />
		<!-- Plano -->
		<comp:input label="Plano" value="" />
		<!-- Vencimento -->
		<comp:input label="Data vencimento" value="" />

		<!-- Qtd de Lotes-->
		<comp:input label="Quantidade de lotes" value="" />

		<!-- Qtd de Parcelas-->
		<comp:input label="Quantidade de parcelas" value="" />

		<!-- Taxa bancaria -->
		<comp:input label="Taxa bancaria" value="" />

		<!-- Folha de rosto -->
		<comp:input label="Folha de rosto" value="" />

		<!-- Botão Finalizar Cadastro -->
		<comp:button label="#{msg.btnGerarLotes}" />
	</ui:define>
</ui:composition>
