<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<composite:interface>
	<!-- PROMPTS -->

	<composite:attribute name="label" />
	<composite:attribute name="value" />
	<composite:attribute name="itemLabel" />
	<composite:attribute name="selectLabel"
		default="#{msgSistema.lblSelecione}" />
	<composite:attribute name="itemValue" />


	<composite:attribute name="changeListener" />
	<composite:attribute name="valueChangeListener"
		method-signature="void action()"></composite:attribute>
	<composite:attribute name="selectItens"></composite:attribute>
	<composite:attribute name="update" />
	<composite:attribute name="right" />
	<composite:attribute name="align" default="left" />
	<composite:attribute name="size" default="198px" />
	<composite:attribute name="entity" default="false" />
	<composite:attribute name="noSelectLabel" default="false" />
	<composite:attribute name="roles" />
	<composite:attribute name="disabled" default="false" />
	<composite:attribute name="required" default="false" />
	<composite:attribute name="process" default="@this" />
	<composite:attribute name="converter" default="simpleEntityConverter" />

</composite:interface>

<composite:implementation>

	<div id="#{cc.clientId}"
		style="position: relative; text-align: #{cc.attrs.align}">

		<p:outputLabel id="#{cc.clientId}" value="#{cc.attrs.label}"
			/>
		<h:message styleClass="ui-outputlabel ui-state-error"
			for="#{cc.clientId}_txt" />

		<br />

		<c:choose>
			<c:when test="#{!cc.attrs.changeListener and cc.attrs.entity}">
				<h:selectOneMenu id="#{cc.clientId}_txt" value="#{cc.attrs.value}"
					items="#{cc.attrs.selectItens}" style="width:#{cc.attrs.size};"
					styleClass="selectItem"
					disabled="#{(cc.attrs.roles == null ? false : !p:ifAnyGranted(cc.attrs.roles)) or cc.attrs.disabled}"
					required="#{cc.attrs.required}">

					<c:if test="#{!cc.attrs.noSelectLabel}">
						<f:selectItem itemLabel="#{cc.attrs.selectLabel}" itemValue="" />
					</c:if>
					<f:selectItems value="#{cc.attrs.selectItens}"
						itemLabel="#{cc.attrs.itemLabel}" var="item"
						itemValue="#{cc.attrs.itemValue}">
					</f:selectItems>

					<f:converter converterId="#{cc.attrs.converter}" />

				</h:selectOneMenu>
			</c:when>
			<c:when test="#{!cc.attrs.changeListener and !cc.attrs.entity}">
				<h:selectOneMenu id="#{cc.clientId}_txt" value="#{cc.attrs.value}"
					style="width:#{cc.attrs.size};" styleClass="selectItem"
					disabled="#{(cc.attrs.roles == null ? false : !p:ifAnyGranted(cc.attrs.roles)) or cc.attrs.disabled}"
					required="#{cc.attrs.required}">

					<c:if test="#{!cc.attrs.noSelectLabel}">
						<f:selectItem itemLabel="#{cc.attrs.selectLabel}" itemValue="" />
					</c:if>

					<f:selectItems value="#{cc.attrs.selectItens}">
					</f:selectItems>

				</h:selectOneMenu>
			</c:when>
			<c:when test="#{cc.attrs.changeListener and cc.attrs.entity}">
				<h:selectOneMenu id="#{cc.clientId}_txt" value="#{cc.attrs.value}"
					items="#{cc.attrs.selectItens}" style="width:#{cc.attrs.size};"
					styleClass="selectItem"
					disabled="#{(cc.attrs.roles == null ? false : !p:ifAnyGranted(cc.attrs.roles)) or cc.attrs.disabled}"
					required="#{cc.attrs.required}">

					<c:if test="#{!cc.attrs.noSelectLabel}">
						<f:selectItem itemLabel="#{cc.attrs.selectLabel}" itemValue="" />
					</c:if>
					<f:selectItems value="#{cc.attrs.selectItens}"
						itemLabel="#{cc.attrs.itemLabel}" var="item"
						itemValue="#{cc.attrs.itemValue}" />
					<f:converter converterId="#{cc.attrs.converter}" />

					<c:if test="#{empty String.valueOf(cc.attrs.valueChangeListener) }">
						<f:ajax listener="#{cc.attrs.valueChangeListener}" event="change"
							execute="#{cc.attrs.process}" render="#{cc.attrs.update}" />
					</c:if>
					<c:if
						test="#{not empty String.valueOf(cc.attrs.valueChangeListener)}">
						<p:ajax process="#{cc.attrs.process}" partialSubmit="true"
							event="change" update="#{cc.attrs.update}" />
					</c:if>
				</h:selectOneMenu>
			</c:when>
			<c:otherwise>
				<h:selectOneMenu id="#{cc.clientId}_txt" value="#{cc.attrs.value}"
					style="width:#{cc.attrs.size};" styleClass="selectItem"
					disabled="#{(cc.attrs.roles == null ? false : !p:ifAnyGranted(cc.attrs.roles)) or cc.attrs.disabled}"
					required="#{cc.attrs.required}">

					<c:if test="#{!cc.attrs.noSelectLabel}">
						<f:selectItem itemLabel="#{cc.attrs.selectLabel}" itemValue="" />
					</c:if>
					<f:selectItems value="#{cc.attrs.selectItens}"
						itemLabel="#{cc.attrs.itemLabel}" var="item">
					</f:selectItems>

					<c:if test="#{not empty cc.attrs.valueChangeListener}">
						<f:ajax listener="#{cc.attrs.valueChangeListener}" event="change"
							execute="@this" render="#{cc.attrs.update}" />
					</c:if>
					<c:if test="#{empty cc.attrs.valueChangeListener}">
						<p:ajax process="@this" event="change" update="#{cc.attrs.update}" />
					</c:if>

				</h:selectOneMenu>
			</c:otherwise>
		</c:choose>

	</div>
</composite:implementation>
</html>