<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<composite:interface>
	<!-- PROMPTS -->
	<composite:attribute name="clientId" />

	<composite:attribute name="label" />
	<composite:attribute name="id" />
	<composite:attribute name="value" />
	<composite:attribute name="itemLabel" />
	<composite:attribute name="itemValue" />

	
	<composite:attribute name="selectItens" />
	<composite:attribute name="update" />
	<composite:attribute name="right" />
	<composite:attribute name="align" default="left" />
	<composite:attribute name="size" default="198px" />
	<composite:attribute name="entity" default="false" />
	<composite:attribute name="noSelectLabel" default="false" />
	<composite:attribute name="roles" />
	<composite:attribute name="disabled" default="false" />
	<composite:attribute name="required" default="false" />
	<composite:attribute name="process" default="@this" />
	<composite:attribute name="converter"
		default="selectOneUsingObjectConverter" />

</composite:interface>

<composite:implementation>

	<div id="#{cc.clientId}">

		<h:outputLabel escape="false" rendered="#{cc.attrs.required}"
			value="#{cc.attrs.label}&lt;font color=red>*	&lt;/font>"
			styleClass="obrigatorio" />
		<h:outputLabel value="#{cc.attrs.label}"
			rendered="#{!cc.attrs.required}" styleClass="outPut" />



		<h:selectOneMenu id="#{cc.attrs.id}" label="#{cc.attrs.label}"
			value="#{cc.attrs.value}" items="#{cc.attrs.selectItens}"
			style="width:#{cc.attrs.size};" styleClass="selectItem"
			disabled="#{(cc.attrs.roles == null ? false : !p:ifAnyGranted(cc.attrs.roles)) or cc.attrs.disabled}"
			required="#{cc.attrs.required}">

			<c:if test="#{!cc.attrs.noSelectLabel}">
				<f:selectItem itemLabel="#{msg.lblSelecione}" itemValue="" />
			</c:if>
			<f:selectItems value="#{cc.attrs.selectItens}"
				itemLabel="#{cc.attrs.itemLabel}" var="item"
				itemValue="#{cc.attrs.itemValue}">
			</f:selectItems>

			<f:converter converterId="#{cc.attrs.converter}" />
			
			<composite:insertChildren />
		</h:selectOneMenu>

	</div>
</composite:implementation>
</html>