<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mj="http://mojarra.dev.java.net/mojarra_ext">

<composite:interface>
	<!-- PROMPTS -->
	<composite:attribute name="label" required="true" />

	<composite:attribute name="id" />
	<composite:attribute name="value" />
	<composite:attribute name="maxlength" default="100" />

	<composite:attribute name="size" default="30" />

	<composite:attribute name="roles" />
	<composite:attribute name="required" />
	<composite:attribute name="validatorMessage" />
</composite:interface>

<composite:implementation>

	<div id="#{cc.attrs.id}">

		<h:outputLabel id="#{cc.attrs.id}_output" value="#{cc.attrs.label}" />

		<p:inputText id="#{cc.attrs.id}" size="#{cc.attrs.size}"
			styleClass="inputtext" value="#{cc.attrs.value}"
			validatorMessage="#{cc.attrs.validatorMessage}"
			maxlength="#{cc.attrs.maxlength}" required="#{cc.attrs.required}">
			<p:ajax event="change" process="@this" update=":msgs" />
			<mj:regexValidator pattern=".+@.+\.[a-z]+" />
		</p:inputText>
	</div>
</composite:implementation>
</html>
