<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
	<!-- PROMPTS -->
	<composite:attribute name="label" required="true" />

	<composite:attribute name="value" />
	<composite:attribute name="maxlength" default="50" />

	<composite:attribute name="right" />
	<composite:attribute name="size" default="30" />
	<composite:attribute name="align" default="left" />

	<composite:attribute name="roles" />
	<composite:attribute name="disabled" default="false" />
	<composite:attribute name="required" default="false" />
	<composite:attribute name="mask" />
	<composite:attribute name="placeholder"/>
	<composite:clientBehavior name="change" event="change"
		targets="#{cc.attrs.id}_txt" />
	<composite:editableValueHolder name="value"
		targets="#{cc.attrs.id}_txt" />
</composite:interface>

<composite:implementation>


	<div id="#{cc.attrs.id}_div">
		<p:outputLabel id="#{cc.clientId}_lbl" value="#{cc.attrs.label}" />
		<p:inputMask id="#{cc.clientId}_txt" size="#{cc.attrs.size}"
			mask="#{cc.attrs.mask}" styleClass="inputtext"
			value="#{cc.attrs.value}" maxlength="#{cc.attrs.maxlength}"
			required="#{cc.attrs.required}"
			placeholder="#{cc.attrs.placeholder}"
			disabled="#{(cc.attrs.roles == null ? false : !p:ifAnyGranted(cc.attrs.roles)) or cc.attrs.disabled}" />
	</div>
</composite:implementation>
</html>
