<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
	<!-- PROMPTS -->
	<composite:attribute name="label" />

	<composite:attribute name="value" />

	<composite:attribute name="right" />
	<composite:attribute name="required" />
	<composite:attribute name="align" default="left" />
	<composite:attribute name="size" default="30" />
	<composite:attribute name="maxlength" default="15" />
	<composite:attribute name="feedback" default="false" />
	<composite:attribute name="redisplay" default="false" />
	<composite:attribute name="roles" />
	<composite:attribute name="disabled" />


</composite:interface>

<composite:implementation>

	<div id="#{cc.clientId}"
		style="position: relative; text-align: #{cc.attrs.align">
		<p:outputLabel id="#{cc.clientId}_lbl" value="#{cc.attrs.label}"
			for="#{cc.clientId}_pwd" />
		<h:message styleClass="ui-outputlabel ui-state-error"
			for="#{cc.clientId}_pwd" />

		<br />
		<p:password id="#{cc.clientId}_pwd" size="#{cc.attrs.size}"
			maxlength="#{cc.attrs.maxlength}" styleClass="inputtext"
			redisplay="#{cc.attrs.redisplay}" required="#{cc.attrs.required}"
			label="#{cc.attrs.label}" value="#{cc.attrs.value}"
			feedback="#{cc.attrs.feedback}" minLength="6"
			promptLabel="#{msgUsuarios.msgUsuarioSenhaInvalida}"
			goodLabel="#{msgUsuarios.lblSenhaOtima}"
			strongLabel="#{msgUsuarios.lblSenhaForte}"
			weakLabel="#{msgUsuarios.lblSenhaFraca}"
			disabled="#{(cc.attrs.roles == null ? false : !p:ifAnyGranted(cc.attrs.roles)) or cc.attrs.disabled}" />
	</div>
</composite:implementation>
</html>