<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/WEB-INF/templates/template.xhtml"
	xmlns:comp="http://java.sun.com/jsf/composite/componentes">
	<ui:define name="content">
		<!-- Nome -->
		<comp:input label="Nome" value="" />
		<!-- Senha -->
		<comp:input label="Senha" value="" />
		<!-- repetir senha -->
		<comp:input label="Repetir senha" value="" />

		<!-- Status-->
		<comp:input label="Status" value="" />

		<!-- Botão Finalizar Cadastro -->
		<comp:button label="#{msg.btnFinalizar}" />
	</ui:define>
</ui:composition>
