	<md-content  layout-gt-sm="row" layout-padding>


		<!-- Vencimento -->
		<md-input-container layout-xs> 
			<label>Data	vencimento</label>  
			<input type='date' ng-model="lote.dtVencimento" >
		</md-input-container>

		<!-- Qtd de Lotes-->
		<md-input-container> 
			<label>Quantidade de lotes</label> 
			<input ng-model="lote.qtdLote">
		</md-input-container>

		<!-- Qtd de Parcelas-->
		<md-input-container> 
			<label>Quantidade de parcelas</label> 
			<input ng-model="lote.qtdParcela">
		</md-input-container>

		<!-- Valor-->
		<md-input-container> 
			<label>Valor</label>
			<input ng-model="lote.valor">
		</md-input-container>

	</md-content>
		<md-divider />
		<md-button  ng-click="gerarBoleto()" class="md-raised">Gerar</md-button>

		<object ng-show="content" data="{{content}}" type="application/pdf" style="width: 100%; height: 400px;"></object>