	<md-content  layout-gt-sm="row" layout-padding ng-cloak>
      
      
		<!-- Vencimento -->
		<md-input-container>
			<label >Data vencimento</label>
			<input type="date" 
			ng-model="lote.dtVencimento" />
		</md-input-container>

		<!-- Qtd de Lotes-->
		<md-input-container> 
			<label>Quantidade de lotes</label> 
			<input ng-model="lote.qtdLote" required  ng-maxlength="3" maxlength="3">
		</md-input-container>

		<!-- Qtd de Parcelas-->
		<md-input-container> 
			<label>Quantidade de parcelas</label> 
			<input ng-model="lote.qtdParcela" required>
		</md-input-container>

		<!-- Valor-->
		<md-input-container> 
			<label>Valor</label>
			<input ng-model="lote.valor" required>
		</md-input-container>

	</md-content>
		<md-divider />
		<md-button  ng-click="gerarBoleto()" class="md-raised">Gerar</md-button>
		
		<div class="alert alert-info" ng-show="loading">
		<img src="../../img/ajax-loader.gif">
		Gerando Boletos - Aguarde abrir o documento pdf</div>